<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="route-error">
                <div class="router-error_text">
                    <div class="router-error_heading-group">
                        <span class="router-error_heading">
                            4
                        </span>
                        <img src="../assets/images/earth.svg" alt="">
                        <span class="router-error_heading">
                            4
                        </span>
                    </div>
                    <p>Ошибка 404! По заданному курсу ничего не обнаружено</p>
                </div>
                <a class="def-btn def-btn-blue" routerLink="/">
                    Вернуться на главную
                </a>
            </div>
        </div>
    </div>
</div>