<div class="container pb-80 pt-80">
    <div class="row">
        <div class="col-12">
            <div class="text-content">
                <h3 class="mb-30">Согласие на обработку персональных данных
                </h3>
                <p>
                    Пользователь, оформляя заявку на сайте {{contacts.site_link}} (далее – Сайт),
                    соглашается с условиями
                    настоящего Согласия на обработку персональных данных (далее - Согласие) в соответствии с Законом
                    Украины "Про захист персональних даних". Принятием (акцептом) оферты Согласия является отправка
                    заявки с Сайта или заказ у Оператора по телефонам Сайта.
                </p>
                <p>
                    Пользователь дает свое согласие на обработку своих персональных данных со следующими условиями:
                </p>
                <p>
                    1. Данное Согласие дается на обработку персональных данных как без, так и с использованием средств
                    автоматизации.
                </p>
                <p>
                    2. Согласие распространяется на следующую информацию: фамилия, имя, отчество, телефон, электронная
                    почта.
                </p>
                <p>
                    3. Согласие на обработку персональных данных дается в целях предоставления Пользователю ответа на
                    заявку, дальнейшего заключения и выполнения обязательств по договорам, осуществления клиентской
                    поддержки, информирования об услугах, которые, по мнению Оператора, могут представлять интерес для
                    Пользователя, проведения опросов и маркетинговых исследований.
                </p>
                <p>
                    4. Пользователь, предоставляет Оператору право осуществлять следующие действия (операции) с
                    персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление,
                    изменение), использование, обезличивание, блокирование, удаление и уничтожение, передача третьим
                    лицам, с согласия субъекта персональных данных и соблюдением мер, обеспечивающих защиту персональных
                    данных от несанкционированного доступа.
                </p>
                <p>
                    6. Персональные данные обрабатываются Оператором до завершения всех необходимых процедур. Также
                    обработка может быть прекращена по запросу Пользователя на электронную почту:
                    {{contacts.email_1}}
                </p>
                <p>
                    7. Пользователь подтверждает, что, давая Согласие, он действует свободно, своей волей и в своем
                    интересе.
                </p>
                <p>
                    8. Настоящее Согласие действует бессрочно до момента прекращения обработки персональных данных по
                    причинам, указанным в п.6 данного документа.
                </p>
            </div>
        </div>
    </div>
</div>